#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}

button {
  font-size: 30px;
  padding: 10px 20px;
  border: 3px solid transparent;
}
button:hover {
  border: 3px solid;
  cursor: pointer;
}
