* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d7d7d7;
}

.container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  background-color: #ece3e3;
  box-shadow:
    15px 15px 30px #767474,
    -15px -15px 30px #facfcf;
}

.clock {
  width: 320px;
  height: 320px;
  background: url(clock.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  /* position:absolute;
  top:50px;
  left:50px; */
  box-shadow:
    inset 10px 10px 20px #b1b1b1,
    inset -10px -10px 20px #ffffff;
}
.clock::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
.hr,
.min,
.sec {
  position: absolute;
  display: flex;
  justify-content: center;
}
.hr {
  width: 150px;
  height: 150px;
}
.min {
  width: 200px;
  height: 200px;
}
.sec {
  width: 250px;
  height: 250px;
}
 .hr::before{
  content:"";
  width:8px;
  height:80px;
  background-color:black;
  border-radius:50%;
  z-index:1;
 }

 .min::before{
  content:"";
  width:4px;
  height:120px;
  background-color:black;
  border-radius:25%;
  z-index:2;
 }

 .sec::before{
  content:"";
  width:2px;
  height:145px;
  background-color:black;
  z-index:3;

 }