* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#card {
  height: 320px;
  width: 200px;
  background-color: rgb(205, 183, 138);
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  padding: 10px;

}

img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

h2,
h5 {
  text-align: center;
  margin: 10px;
}
#addbutton {
  background-color: rgb(34, 34, 241);
}
/* #removebutton {
  background-color: rgb(247, 22, 22);
} */
.button_con{display:flex;
justify-content:center}
button{
    border:none;
    cursor:pointer;
    color:white;
    padding:5px 10px;
    margin:5px auto;
    border-radius:2px;
}